<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">
            jdbc:mysql://localhost:3306/gestion_appel_ufr
        </property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password"></property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">true</property>
        <mapping class="ut1.appel.entity.Subject"/>
        <mapping class="ut1.appel.entity.StudentGroup"/>
        <mapping class="ut1.appel.entity.StudentClass"/>
        <mapping class="ut1.appel.entity.Session"/>
        <mapping class="ut1.appel.entity.AttendanceSheet"/>
        <mapping class="ut1.appel.entity.AttendanceRow"/>
        <mapping class="ut1.appel.entity.Justification"/>
    </session-factory>
</hibernate-configuration>