<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.sqlite.JDBC</property>

        <!-- Changer le path par le path voulue sur la machine -->
        <property name="hibernate.connection.url">jdbc:sqlite:"LE PATH"appelDB.sqlite</property>
        <property name="hibernate.dialect">org.hibernate.community.dialect.SQLiteDialect</property>
        <!-- Optionnel pour le debug-->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
    </session-factory>
</hibernate-configuration>